#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

select{
  outline: none;
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
}
table,tr,td,th,thead{
  border: 1px solid rgb(255, 72, 0);
  border-collapse: collapse;
  
}
.table{
  position: sticky;
  height: 50%;
  right: 0;
}
.title{
  color: rgb(241, 72, 72);
  border-bottom: 1px solid;
  border-radius: 10px;
}